/* 1074 is where the hero section break */

/* @media(max-width: 74.125rem){
    html{
        font-size: 56.52%;;
    }

    h1{
        font-size: 3.8rem;
    }

    .heading-and-arrow{
        margin-bottom: 2.5rem;
        margin-top: 4.5rem;
    }

    .hero-arrow{
        height: 8rem;
    }

    .hero-flex{
        display: flex;
        justify-content: space-between;
    }

    .hero-img{
        max-width: 250px;
        width: 100%;
    }
}

@media (max-width: 36.25rem){
    html{
        font-size: 31.5%;
    }

    .hero-img{
        max-width: 150px;
        width: 100%;
    }

    h1{
        font-size: 3.6rem;
    }

    .project-arrow{
        width: 3rem;
    }

    .cert-img{
        max-width: auto;
        width: 70%;
    }
} */

/* This triggers when the screen is 1100px or narrower */
@media (max-width: 1100px) {
    
    /* 1. Hide the third vertical line to give the image space */
    .v-3 {
        display: none;
    }

    .v-2{
        display: none;
    }
    .hero-layout {
        grid-template-columns: 12rem 1fr 48.2rem;
    }

}